<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/angular.min.js"></script>
    <script>
        var model = {
            user: "Toan",
            items: [{ action: "Buy flowers", done: false },
                    {action: "Get shoes", done: false},
                    {action: "Collect tickets", done: true},
                    { action: "Call Joe", done: false }]
        };
        var todoApp = angular.module("todoApp", []);
        todoApp.controller("todoController", todoController);

        function todoController() {
            var vm = this;
            vm.data = model;

            vm.warningLevel = function () {
                return vm.countIncompletedTask() < 3 ? "label-success" : "label-warning";
            }

            vm.countIncompletedTask = function() {
                var count = 0;
                angular.forEach(vm.data.items, function (item) {
                    if (!item.done) {
                        count++;
                    }
                })
                return count;
            }
        }
    </script>
</head>
<body ng-controller="todoController as todo">
    <div class="page-header">
        <h1>
            {{todo.data.user}}'s to do list
            <span class="label label-default" ng-class="todo.warningLevel()" ng-hide="todo.countIncompletedTask() === 0">
                {{todo.countIncompletedTask()}}
            </span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in todo.data.items">
                    <td>{{task.action}}</td>
                    <td><input type="checkbox" ng-model="task.done" /></td>
                    <td>{{task.done}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
